
// root
$transition-ease-in-out-03:.3s cubic-bezier(0.59, -0.01, 0.1, 1);
$transition-ease-in-out-06:.6s cubic-bezier(0.51, -0.01, 0.05, 1);

$color: (
    black-01: #0E0E0E,
    balck-02:#333333,
    whtie: #fff,
    gray-01: #AEAEAE,
    gray-02:#686868,
    gray-03:#353535
);

$fontWeight : (
    font-300: 300,
    font-400: 400,
    font-500: 500,
    font-600: 600,
    font-700: 700,
    font-800: 800
);

$fontSize: (
    font-70: 7.6rem,
    font-50: 5rem,
    font-46: 4.6rem,
    font-34: 3.4rem,
    font-25: 2.5rem,
    font-22: 2.2rem,
    font-20: 2rem,
    font-16: 1.6rem, 
    font-14: 1.4rem, 
);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'safiroregular', 'SUIT', sans-serif;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
*[hidden] {
    display: none;
}
* {
    font-size: 62.5%;  
}
a {
    text-decoration: none;
    color: initial;
}
body {
	line-height: 1;
    background-color: map-get($color, black-01);
    overflow: hidden;
    transition: .3s;
}
menu, ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.blind {
    overflow: hidden !important;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    color: transparent !important;
    clip: rect(0px, 0px, 0px, 0px) !important;
}