@import "common";
@import "responsive";
// @import "stylesheet";

* {
    cursor: url(../img/arrow-cursor.svg) 2 2, auto;
}

// 스플래시
.splash-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 100;
    background-color: map-get($color , black-01);
    justify-content: center;
    opacity: 1;
    transition: $transition-ease-in-out-03;
    .splash {
        width: 10vw;
        min-width: 7rem;
        max-width: 16rem;
    }
}

.s-l-wrap {
    width: 100%;
    height: 100vh;
    z-index: 3;
    position: fixed;
    background-color: map-get($color , black-01);
    transition: $transition-ease-in-out-06;
    .splash-logo {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(2vh);
        // opacity: 0;
        transition: $transition-ease-in-out-03;
        overflow: hidden;
        span {
            font-family: 'safiroregular';
            text-transform: uppercase;
            font-weight: 700;
            color: map-get($color, whtie);
            font-size: 16.8vw;
            transform: translateY(30vh);
            transition: $transition-ease-in-out-06;
            transition-delay: 0.2s; 
            z-index: 3;
        }
    }
}

// 헤더
header {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    padding: 0rem 8rem;
    z-index: 1;
    transition: $transition-ease-in-out-03;
    background: black;
    @include respond-to(tablet) {
        padding: 0rem 1.6rem;
        .menu {
            li {
                &:last-child {
                    display: none;
                }
            }
        }
    }
    .navigation {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height:3rem;
    }
    .menu {
        display: flex;
        gap: 2vw;
        li {
            overflow: hidden;
            position: relative;
            opacity: 0;
            transform: translate3d(0px, -3rem, 0px);
            transition: $transition-ease-in-out-06;
            .hidden p {
                font-family: 'safiroregular';
                border: none;
                background-color: inherit;
                color: map-get($color, whtie);
                transform: translate3d(0px, -2rem, 0);
                font-size: clamp(1.6rem, 3vw, 1.8rem);
                cursor: pointer;
                opacity: 0;
                visibility: hidden;
                transition: $transition-ease-in-out-06;
            }
            a {
                height: 1.6rem;
                display: block;
                width: 100%;
                padding: 0 .1rem;
                .auto-hddien {
                    display: flex;
                    flex-direction: row;
                    gap: .04rem;
                }
                .auto {
                    transition: $transition-ease-in-out-06;
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }
                .hidden {
                    transition: $transition-ease-in-out-06;
                    overflow: hidden;
                    position: relative;
                }
            }
            span {
                color: map-get($color, whtie);
                font-size: map-get($fontSize , font-16);
                font-weight: map-get($fontWeight, font-600);
                transition: $transition-ease-in-out-06;
                width: 100%;
            }
        }
    }
    .logo {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(50px);
        opacity: 0;
        transition: $transition-ease-in-out-03;
        overflow: hidden;
        gap: .05rem;
        padding:.1rem;
        span {
            font-family: 'safiromedium';
            color: map-get($color, whtie);
            text-transform: uppercase;
            opacity: 0;
            font-size: clamp(1.6rem, 3vw, 1.8rem);
            transform: translateY(-20rem);
            transition: $transition-ease-in-out-06;
            transition-delay: 0.2s; 
            z-index: 3;
        }
        &.slide-up {
            opacity: 1;
            transform: translateY(0);
            span {
                opacity: 1;
            }
        }
    }
    .line {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: .1rem;
        background-color: #ECEAFA;
        transition: $transition-ease-in-out-06;
    }
}


// 마우스 커서
.cursor-item {
    position: fixed !important;
    width: 2rem;
    height: 2rem;
    background: #fff;
    mix-blend-mode: difference;
    // background: radial-gradient(circle, rgb(131, 136, 255) -3%, rgba(139, 121, 234)9%, rgba(148, 187, 233, 0) 52%);
    border-radius: 50%;
    top:0;
    left: 0;
    pointer-events: none; 
    // transition: .1s; 
    z-index: 10;
    &:hover {
        mix-blend-mode: difference;
        background: #fff;
    }
}

// section - main
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0rem 8rem;
    transition: $transition-ease-in-out-03;
    justify-content: space-between;
    box-sizing: border-box;
    @include respond-to(tablet) {
        padding: 0rem 1.6rem;
    }
    .left {
        overflow: hidden;
        h2 {
            transition: $transition-ease-in-out-06;
            transform: translate3d(0, 10vh, 0);
            color: map-get($color , whtie);
            font-size: clamp(1.4rem, 5vw, 5vw);
            font-family: 'safiroregular';
        }
    }
    .right {
        display: flex;
        flex-direction: column;
        gap: .9rem;
        overflow: hidden;
        p {
            transition:$transition-ease-in-out-06;
            transform: translate3d(0, 10vh, 0);
            font-family: 'safiroregular';
            color: map-get($color , whtie);
            font-size: clamp(1.6rem, 2vw, 2rem);
        }
    }
}

.sticky-parent {

    // height: 400vh;
    .sticky {
        position: sticky;
        top: 0px;
        max-height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
        transition: $transition-ease-in-out-06;
    }

    .dim {
        // width: 100vh;
        flex: 1 0 100%;
        // min-width: 100vw;
        height: 100vh;    
        display: flex;
        flex-direction: column;
    }

    .horizontal {
        display: flex;
        height: calc(100vh - 3rem);
        top: 3rem;
        left: 1.6rem;
        position: relative;
        flex-direction: row;
        transition: $transition-ease-in-out-06;
    }

    .br {
        outline: solid;
    }

    // 첫번쨰 섹션
    .first-section {
        padding: 0 8rem 0 8rem;
        box-sizing: border-box;
        display: flex;
        transition: $transition-ease-in-out-06;
        flex-direction: column;
        @include respond-to(tablet) {
            padding: 0rem 1.6rem;
        }
        .right {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 10rem;
            flex: .94;
            .title {
                display: flex;
                flex-direction: column;
                gap: 1.2rem;

                .hidden {
                    p {
                        font-family: 'SUIT', sans-serif;
                        font-size: clamp(5rem, 4vw, 7.6rem);
                        color: map-get($color, whtie);
                        font-weight: map-get($fontWeight, font-800);
                        display: inline;
                    }
                }
            }

            .sub-title {
                p {
                    line-height: 2.8rem;
                    font-family: 'SUIT', sans-serif;
                    font-size: clamp(1.5rem, 1vw, 1.8rem);
                    color: map-get($color, whtie);
                    font-weight: map-get($fontWeight, font-300);
                }
            }
        }
        .underline {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: 2rem;
            .more {
                p {
                    font-family: 'safiroregular';
                    font-size: clamp(1.4rem, 2vw, 2rem);
                    color: map-get($color, whtie);
                    font-weight: map-get($fontWeight, font-300);
                    text-transform: uppercase;
                }
            }
            .underline {
                width: 100%;
                height: .1rem;
                background-color: #333;
            }
            
        }
    }

    .more {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1 0 50%;
        img {
            width: clamp(30rem, 30vw, 30vw);
        }
    }
}
.second-section {
    height: 100%;
    padding-left: 25rem;    
    justify-content: space-evenly;
    .top {
            display: flex;
            gap: 1.2rem;
            position: sticky;
            top: 0;
            left: 0;
            width: 100vw;
            padding: 8vw 3vw 0;
            box-sizing: border-box;
            justify-content: space-between;
        .title {
            display: flex;
            flex-direction: column;
            p {
                font-size: clamp(2rem, 10vw, 7rem);
                font-weight: map-get($fontWeight, font-300);
                color: map-get($color, whtie);
            }
        }
        .sub-title {
            font-weight: map-get($fontWeight, font-300);
            line-height: 2.8rem;
            color: map-get($color, whtie);
            p {
                font-size: clamp(1.6rem, 5vw, 1.8rem);
            }
        }
            
    }
    ul {
        height: 100%;
        gap: 3vw;
        display: flex;
        flex-direction: row;
        li {
            height: 100%;
            display: flex;
            align-items: flex-end;
        }
    }
    .box {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        .img-title {
            color: map-get($color, whtie);
            font-size: map-get($fontSize, font-34);
            font-weight: 200;
            flex-direction: column;
            display: flex;
            gap: .6rem;
        }
        .img {
            width: 50vw;
            height: 24vw;
            background-color: #535353;
            position: relative;
            max-width: 80rem;
            max-height: 50rem;
            min-width: 50rem;
            min-height: 30rem;
            img {
                width: 47rem;
                height: 48rem;
            }
            &-text {
                flex-direction: column;
                display: flex;
                position: absolute;
                bottom: -7.2rem;
                gap: 1.2rem;
                padding-left: 1.6rem;
            }
        }   
    }
   
}
.third-section {
    display: flex;
    justify-content: space-around;
    .c-txt {
        display: flex;
        justify-content: center;
        align-items: center;
        @include respond-to(tablet) {
            display: none;
        }
        h4 {
            font-size: clamp(2rem, 3vw, 8rem);
            color: map-get($color, whtie);
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .career {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        h5 {
            font-size: clamp(2.4rem, 2vw, 4.4rem);
            color: map-get($color, whtie);
            font-weight: map-get($fontWeight, font-700);
            text-transform: uppercase;
        }
        .width {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: clamp(5rem, 5vw, 12vw);
        }
        &-timeline {
            display: flex;
            flex-direction: column;
            gap: 3vw;
        }
        &-list {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 2vw;
            flex: 1;
            dl {
                display: flex;
                flex-direction: column;
                gap: 1.2rem;
            }
            dt {
                color: map-get($color, whtie);
                time {
                    font-size: clamp(2rem, 1.8vw, 2.5rem);
                    font-family: "safiroregular";
                }
            }
            h6 {
                font-size: clamp(1.4rem, 1vw, 1.6rem);
                color: map-get($color, gray-01);
                font-weight: map-get($fontWeight, font-400 );
            }
        }
        .skill {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            h5 {
                font-size: map-get($fontSize , font-16);
                color: map-get($color, gray-02);
            }
            ul {
                display: flex;
                gap: 2rem;
                li {
                    font-size: map-get($fontSize, font-16);
                    color: map-get($color, whtie);
                    text-transform: uppercase;
                }
            }
        }
    }
}

// footer
.bottom {
    height: calc(100vh - 3rem);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .snscontent {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .sns {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4vw;
                height: calc(100% - 226px);
            a {
                color: map-get($color, black-01);
                font-size: clamp(2rem, 2vw, 2.5rem);
                text-decoration: underline;
                flex: 1;
                text-align: center;
            }
        }
    }
    &-infor {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 0rem 8rem 7.6rem;
            z-index: 1;
            position: absolute;
            bottom: 0;
            width: calc(100% - 16rem);
            @include respond-to(tablet) {
                padding: 0rem 1.6rem 3.8rem;
                width: calc(100% - 3.2rem);
            }
        .watching-txt {
            flex: 1;
            display: flex;
            flex-direction: column;
            color: map-get($color, black-01);
            div {
                font-size: clamp(3rem, 3vw, 5rem);
                font-weight: map-get($fontWeight,font-600);
                text-transform: uppercase;
            }
        }
        .loop {
            flex: 1;
            ul {
                display: flex;
                overflow: hidden;
                flex-direction: column;
                align-items: center;
                height: clamp(1.6rem, 1vw, 2rem);
                gap: .4rem;
                li {
                    font-size: clamp(1.6rem, 1vw, 2rem);
                    font-weight: map-get($fontWeight,font-500);
                }
            }
        }
        .yeartxt {
            flex: 1;
            text-align: right;
            time {
                font-size: clamp(3rem, 3vw, 5rem);
                font-weight: map-get($fontWeight,font-500 );
            }
        }
    }
    .bg {
        background: radial-gradient(circle, rgb(220, 221, 255) 10%, rgba(220, 221, 255, 0) 40%);
        position: absolute;
        bottom: -50%;
        height: 100%;
        width: 100%;
        transition: $transition-ease-in-out-03;
    }
}