@import "common";
@import "responsive";
// @import "stylesheet";

* {
    cursor: url(../img/arrow-cursor.svg) 2 2, auto;
}

// 스플래시
.splash-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 100;
    background-color: map-get($color , black-01);
    justify-content: center;
    opacity: 1;
    transition: $transition-ease-in-out-03;
    .splash {
        width: 10vw;
        min-width: 7rem;
        max-width: 16rem;
    }
}

.s-l-wrap {
    width: 100%;
    height: 100vh;
    z-index: 3;
    position: fixed;
    background-color: map-get($color , black-01);
    transition: $transition-ease-in-out-06;
    .splash-logo {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(2vh);
        // opacity: 0;
        transition: $transition-ease-in-out-03;
        overflow: hidden;
        span {
            font-family: 'safiroregular';
            text-transform: uppercase;
            font-weight: 700;
            color: map-get($color, whtie);
            font-size: 16.8vw;
            transform: translateY(30vh);
            transition: $transition-ease-in-out-06;
            transition-delay: 0.2s; 
            z-index: 3;
        }
    }
}

// 헤더
header {
    padding: 0rem 8rem;
    box-sizing: border-box;
    transition: $transition-ease-in-out-03;
    @include respond-to(tablet) {
        padding: 0rem 1.6rem;
        .menu {
            li {
                &:last-child {
                    display: none;
                }
            }
        }
    }
    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        min-height:5rem;
        
    }
    .menu {
        display: flex;
        gap: 2vw;
        li {
            overflow: hidden;
            position: relative;
            button {
                font-family: 'safiroregular';
                border: none;
                background-color: inherit;
                color: map-get($color, whtie);
                transform: translate3d(0px, -2rem, 0);
                font-size: clamp(1.6rem, 3vw, 1.8rem);
                cursor: pointer;
                opacity: 0;
                visibility: hidden;
                transition: $transition-ease-in-out-06;
            }
            span {
                position: absolute;
                bottom: 0;
                width: 0;
                height: 0.1rem;
                background: #fff;
                left: 50%;
                transform: translateX(-50%);
                transition: $transition-ease-in-out-06;
            }
        }
    }
    .logo {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(50px);
        opacity: 0;
        transition: $transition-ease-in-out-03;
        overflow: hidden;
        span {
            font-family: 'safiromedium';
            color: map-get($color, whtie);
            text-transform: uppercase;
            opacity: 0;
            font-size: clamp(1.6rem, 3vw, 1.8rem);
            transform: translateY(-20rem);
            transition: $transition-ease-in-out-06;
            transition-delay: 0.2s; 
            z-index: 3;
        }
        &.slide-up {
            opacity: 1;
            transform: translateY(0);
            span {
                opacity: 1;
            }
        }
    }
}


// 마우스 커서
.cursor-item {
    position: fixed !important;
    width: 2rem;
    height: 2rem;
    background: #fff;
    mix-blend-mode: difference;
    // background: radial-gradient(circle, rgb(131, 136, 255) -3%, rgba(139, 121, 234)9%, rgba(148, 187, 233, 0) 52%);
    border-radius: 50%;
    top:0;
    left: 0;
    pointer-events: none; 
    // transition: .1s; 
    z-index: 10;
    &:hover {
        mix-blend-mode: difference;
        background: #fff;
    }
}

// section - main
.main {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 0rem 8rem;
    transition: $transition-ease-in-out-03;
    justify-content: space-between;
    box-sizing: border-box;
    @include respond-to(tablet) {
        padding: 0rem 1.6rem;
    }
    .left {
        overflow: hidden;
        h2 {
            transition: $transition-ease-in-out-06;
            transform: translate3d(0, 10vh, 0);
            color: map-get($color , whtie);
            font-size: clamp(1.4rem, 5vw, 5vw);
            font-family: 'safiroregular';
        }
    }
    .right {
        display: flex;
        flex-direction: column;
        gap: .9rem;
        overflow: hidden;
        p {
            transition:$transition-ease-in-out-06;
            transform: translate3d(0, 10vh, 0);
            font-family: 'safiroregular';
            color: map-get($color , whtie);
            font-size: clamp(1.6rem, 2vw, 2rem);
        }
    }
}

.sticky-parent {

    // height: 400vh;
    .sticky {
        position: sticky;
        top: 0px;
        max-height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
        transition: $transition-ease-in-out-06;
    }

    .dim {
        display: block;
        // width: 100vh;
        flex: 1 0 100%;
        // min-width: 100vw;
        height: 100vh;
    }

    .horizontal {
        display: flex;
        flex-direction: row;
        transition: $transition-ease-in-out-06;
    }

    .br {
        outline: solid;
    }

    // 첫번쨰 섹션
    .first-section {
        padding: 0 8rem 0 8rem;
        box-sizing: border-box;
        display: flex;
        transition: $transition-ease-in-out-06;

        .right {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 10rem;
            flex: 1 0 50%;
            .title {
                display: flex;
                flex-direction: column;
                gap: 1.2rem;

                .hidden {
                    p {
                        font-family: 'SUIT', sans-serif;
                        font-size: clamp(5rem, 4vw, 7.6rem);
                        color: map-get($color, whtie);
                        font-weight: map-get($fontWeight, font-800);
                        display: inline;
                    }
                }
            }

            .sub-title {

                p {
                    line-height: 2.8rem;
                    font-family: 'SUIT', sans-serif;
                    font-size: clamp(1.5rem, 1vw, 1.8rem);
                    color: map-get($color, whtie);
                    font-weight: map-get($fontWeight, font-300);
                }
            }

        }
    }

    .more {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1 0;

        img {
            width: clamp(30rem, 30vw, 30vw);
        }
    }
}
.second-section {
    height: 100%;
    padding-left: 25rem;
    ul {
        height: 100%;
        gap: 12rem;
        display: flex;
        flex-direction: row;
        li {
            height: 100%;
            border-left: .1rem solid map-get($color , gray-03);
            display: flex;
            align-items: center;
        }
    }
    .box {
        display: flex;
        gap: 7rem;
        flex-direction: column;
        .year {
            font-family: 'safiroregular';
            font-weight: map-get($fontWeight, 300);
            font-size: map-get($fontSize, font-25);
            color: map-get($color, whtie);
        }
    }
    .information {
        .img {
            width: 37rem;
            height: 37rem;
            background-color: #535353;
            position: relative;
            img {
                width: 47rem;
                height: 48rem;
                background-color: #535353;
            }
        }   
        .img-text {
            flex-direction: column;
            display: flex;
            position: absolute;
            bottom: -7.2rem;
            gap: 1.2rem;
            padding-left: 1.6rem;
            .img-title {
                color: map-get($color, whtie);
                font-size: map-get($fontSize, font-34);
                font-weight: map-get($fontWeight, font-800);
                flex-direction: column;
                display: flex;
                gap: .6rem;
            }
            .tech {
                color: map-get($color, gray-01);
                font-weight: map-get($fontWeight, font-300);
                font-size: map-get($fontSize, font-20);
            }
            .degree {
                color: map-get($color, gray-02);
                font-size: map-get($fontSize, font-14);
            }
        }
    }
}


.last {
    height: 100vh;
    width: 100%;
}